 *{
	margin: 0;
	padding: 0;

}
body {
	font-family: 'Open Sans', sans-serif;
	color: white;
}
/* Обычные ссылки */
.normalA {
	 text-decoration: none;
	 color: white;
	 }
.normalA :hover {
	color: #4682B4;
		}
.elementLayer1 a,.elementLayer2 a, .elementLayer3 a,
.elementLayer4 a, .elementLayer5 a, .elementLayer6 a {
text-decoration: none;
color: white;
}
/* Ссылки в модальном окне */
.aForButtom1	{
	text-decoration: none;
	color: black;
}
/* Для кнопок с белым фоном */
.aForButtom1 :hover {
	color: #4682B4;
	border: solid 2px #4682B4;
}
.aForButtom2	{
	text-decoration: none;
	color: white;
}
.aForButtom2 :hover {
	color: #4682B4;
	border: solid 2px #4682B4;
}
 
/* Модальное окно */
#shadowWindow {
    background: rgba(36, 41, 67, 0.95);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
	z-index: 9;
}
#window {
	display: flex;
	height: 50%;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	box-sizing: border-box; 
    padding: 15px;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     margin: auto;
}
.modalwin1 {
	align-content: center;
	margin: auto;
	border-bottom: solid 2px #2a2f4a;
	width: 20%;
	height: 10%;
	text-align: center;
	display: inline-block;
}
.modalwin2 {
	align-content: center;
	margin: auto;
	width: 20%;
	height: 10%;
	text-align: center;
	display: inline-block;
}
.modalwin3 {
	align-content: center;
	margin: auto;
	display: inline-block;
	border: solid 2px white;
	color: black;
	background: white;
	width: 20%;
	text-align: center;
	padding: 10px;
}
.modalwin4 {
	align-content: center;
	margin: auto;
	display: inline-block;
	border: solid 2px white;
	color: black;
	width: 20%;
	text-align: center;
	color: white;
	padding: 10px;
}
#shadowWindow:target {display: block;}
.close {
    display: inline-block;
    color: white;
    margin-right: 20px;
	margin-top: 20px;
    text-decoration: none;
	position:fixed;
	top: 0;
	right: 0;
	font-size: 2em;
}
.close: hover {
	color: #4682B4;
 }
      
/* Нижний слой для хеада*/
.layer {
width: 100%;
height: 100%;
background: url(../images/banner.jpg);
background-size: cover;
position: fixed;
top: 0px;
left: 0px;
}
/* Верхний слой для хэда */
.layer-top{
width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
background: rgba(36, 41, 67, 0.86);
z-index: 1;
}	
/* Верхний блок с лого и меню */
.menuConteiner {
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
box-sizing: border-box;
width: 100%;
height: 45px;
z-index: 2;	
position: fixed;
top: 0px;
left: 0px;
letter-spacing: 5px;
}
/* Логотип */
.logo  {
display: flex;
flex-direction: row;
color: black;
background: white;
padding: 5px;
margin: 5px;
}
/* Меню */
.menu  {
display: flex;
flex-direction: row;
margin: 5px;
padding: 5px;
word-spacing: 30px;
vertical-align: center;
text-decoration: none;
vertical-align: tope;
}

header {
width: 100%;
height: 300px;
top: 0px;
left: 0px;
position: absolute;
z-index: 3;
color: white;
margin-top: 5%;
}
/* Кнопка в хэде */
.start {
border: solid 2px white;
margin: 15px 11% 0 1%;
padding: 15px 15px 15px 15px;
display: inline-block;
vertical-align: top;
}

/* Верхний текс в хэде */
#main {
width: 78%;
border-bottom: solid 1px white;
margin: 100px 11% 0 11%;
z-index: 3;
}
/* Нижний текст в хэде */
#next1 {
width: 25%;
margin: 15px 1% 0 11%;
z-index: 3;
display: inline-block;
}

/* Текст в боксах */
.element-container {
display: flex;
flex-direction: column;
align-items: baseline;
justify-content: center;
box-sizing: border-box;
padding-left: 5em;
width: 100%;
height: 100%;
z-index: 3;
}
element-name {
display: inline-block;
font-size: 35px;
z-index: 3;
}

.element-description {
display: inline-block;
border-top: 2px solid white;
margin-top: 2vh;
padding-top: 2vh;
color: white;
letter-spacing: 6px;
z-index: 3;
}
/* Контейнер с боксами  */
.contentBlock {
margin-top: 500px;
display: flex;
flex-direction: column;
width: 100%;
color: white;
font-family: 'Source Sans Pro', sans-seif;
height: 1200px;
margin-left: 0;
margin-right: 0;
}

/* Три ряда с боксами */
.elementRow1, .elementRow2, .elementRow3   {
display: flex;
flex-direction: row;
height: 33.33%;
width: 100%;
}
/* Боксы */
.box1 {
display: block;
background: url(../images/pic01.jpg);
background-position: center;
background-size: cover;
height: 100%;
width: 40%;
text-decoration: none;
color: white;
z-index: 1;
}
.elementLayer1 {
position: relative;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #6fc3df;
opacity: .9;
transition: 1s;
z-index: 2;
}
.box2 {
display: block;
background: url(../images/pic02.jpg);
background-position: center;
background-size: cover;
height: 100%;
width: 60%;
text-decoration: none;
color: white;
z-index: 1;
}
.elementLayer2 {
position: relative;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #8d82c4;
opacity: .9;
transition: 1s;
z-index: 2;
}
.box3 {
display: block;
background: url(../images/pic03.jpg);
background-position: center;
background-size: cover;
height: 100%;
width: 40%;
text-decoration: none;
color: white;
z-index: 1;
}
.elementLayer3 {
position: relative;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #ec8d81;
opacity: .9;
transition: 1s;
z-index: 2;
}

.box4 {
display: block;
background: url(../images/pic04.jpg);
background-position: center;
background-size: cover;
height: 100%;
width: 60%;
text-decoration: none;
color: white;
z-index: 1;
}
.elementLayer4 {
position: relative;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #e7b788;
opacity: .9;
transition: 1s;
z-index: 2;
}
.box5 {
display: block;
background: url(../images/pic05.jpg);
background-position: center;
background-size: cover;
height: 100%;
width: 60%;
text-decoration: none;
color: white;
z-index: 1;
}
.elementLayer5 {
position: relative;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #8ea9e8;
opacity: .9;
transition: 1s;
z-index: 2;
}

.box6 {
display: block;
background: url(../images/pic06.jpg);
background-position: center;
background-size: cover;
height: 100%;
width: 40%;
text-decoration: none;
color: white;
z-index: 1;
}
.elementLayer6 {
position: relative;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #87c5a4;
opacity: .9;
transition: 1s;
z-index: 2;
}
/* Анимация при наведении */
.elementLayer1:hover, 
.elementLayer2:hover, 
.elementLayer3:hover, 
.elementLayer4:hover, 
.elementLayer5:hover, 
.elementLayer6:hover {
background: rgba(0, 0, 0, 0.2);
transition: 1s;
z-index: 1;
}
/* Часть с описанием */
.infoBox {
position: relative;
height: 400px;
width: 100%;
background: #2a2f4a;
z-index: 1;
}
.infoBoxTitle {
margin: 100px 11% 0 11%;
color: white;
font-family: 'Source Sans Pro', sans-seif;
border-bottom: 2px solid white;
font-size: 1.75em;
font-weight: 600;
padding-bottom: 15px;
padding-right: 10px;
display: inline-block;
}
.infoBoxDicription {
margin: 15px 11% 0 11%;
color: white;
font-family: 'Source Sans Pro', sans-seif;
font-size: 1 em;
padding-bottom: 15px;
padding-right: 10px;
display: inline-block;
}	
.startBottom {
border: solid 2px white;
margin: 15px 11% 0 11%;
padding: 15px 15px 15px 15px;
display: inline-block;
vertical-align: top;
}
/* Блок с обратной связью */
.connection {
position: relative;
width: 100%;
background: rgba(36, 41, 67);
z-index: 1;
border-bottom: 1px solid #2a2f4a;
}
/* Для левого блока (обратная связь) */
.mesageCont {
width: 50%;
max-height: 600px;
color: white;
font-family: 'Source Sans Pro', sans-seif;
padding-left: 20px;
display: inline-block;
vertical-align: top;
}
/* Для правого телефон, адрес и  тд. */
.contact {
width: 45%;
color: white;
font-family: 'Source Sans Pro', sans-seif;
display: inline-block;
border-left: solid 2px #2a2f4a;
vertical-align: top;
}
.email,.Phone{
width: 100%;
height: 160px;
color: white;
font-family: 'Source Sans Pro', sans-seif;
display: inline-block;
border-bottom: solid 2px #2a2f4a;
vertical-align: top;
}
.addres { 
width: 100%; 
height: 160px; 
color: white; 
font-family: 'Source Sans Pro', sans-seif; 
display: inline-block;
vertical-align: top;
} 
#text {
width: 40%;
font-size: 20px;
padding: 6px 0 4px 10px;
background: #2a2f4a;
display: inline-block;
vertical-align: top;
margin: 2%;
color: white;
}
textarea {
width: 86%;
height: 200px;
font-size: 20px;
padding: 6px 0 4px 10px;
background: #2a2f4a;
display: inline-block;
vertical-align: top;
margin: 2%;
color: white;
}
.connextionName1 {
width: 40%;	
display: inline-block;
vertical-align: top;
margin: 2%;
}
.connextionName2 {
width: 40%;	
display: inline-block;
vertical-align: top;
margin: 10px 0 10px 3%;
}
.ButtomM1 {
border: solid 2px white;
margin: 15px 11% 15px 1%;
padding: 15px 15px 15px 15px;
display: inline-block;
vertical-align: top;
color: rgba(36, 41, 67);
background: white;
}

.ButtomM2 {
border: solid 2px white;
margin: 15px 11% 0px 0px;
padding: 15px 25px 15px 25px;
display: inline-block;
vertical-align: top;
}

.Info1 {
padding: 25px 0 0 25px;	
font-size: 1.35em;
font-weight: 600;
word-spacing: 15px;
}
.Info2 {
padding: 10px 0 0 65px;	
font-size: 1 em;
}
/* Подвал страницы */
footer {
position: relative;
height: 150px;
width: 100%;
background: rgba(36, 41, 67);
}
.social {
padding: 50px 0 0 50px;	
font-size: 1.35em;
color: white;
font-weight: 600;
word-spacing: 15px;
}

@media (max-width: 768px) {
		.box1,.box2,.box3,.box4,.box5,.box6{
		width: 50%;
		}
		footer {
		height: 80px;	
		}
		.social {
		padding: 10px 0 0 10px;	
		}
		#main {
		margin: 40px 11% 0 11%;
		}
}
@media (max-width: 736px) {

		body {
		font-size: 10px;
		}
		header {
		height: 200px;
		}
		.mesageCont {
		width: 100%;
		}
		.contact {
		width: 100%;
		}
		.contentBlock {
		height: 900px;
		}
		textarea {
		height: 100px;
		}
		#text {
		width: 30%;
		}
		.contentBlock {
		margin-top: 220px;
		}
}
